<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sftpHost" value="127.0.0.1"/>
    <add key="sftpPort" value="22"/>
    <add key="sftpUserName" value="admin"/>
    <add key="sftpPassword" value="admin@2020"/>
    <add key="sftpPath" value="/"/>
    <add key="sftpBackupPath" value="/Respaldo"/>
    <add key="logsFullPath" value=""/>
    <add key="idSociedad" value="3196"/>
    <add key="deactivateUsersBit" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnecionString"
    connectionString="Data Source=.;Initial Catalog=HCMCruzBlancaSeg_20200416;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
    <add name="DatabaseProdConnecionString"
    connectionString="Data Source=.;Initial Catalog=HCMCruzBlancaProd_20201001;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>