<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sftpHost" value="sftp.dl.cl"/>
    <add key="sftpPort" value="22"/>
    <add key="sftpUserName" value="sftpbupa"/>
    <add key="sftpPassword" value="js0307ht!"/>
    <add key="sftpPath" value="/home/sftpbupa"/>
    <add key="logsFullPath" value="C:\log\dataimporter\log.txt"/>
    <add key="idSociedad" value="3196"/>
    <add key="deactivateUsersBit" value="0"/>
  </appSettings>
  <connectionStrings>
    <add name="DatabaseConnecionString"
    connectionString="Data Source=dlazappqa.dl.cl;Initial Catalog=HCMCruzBlancaSeg;User ID=qahcmcruzblanca;Password=tbcs4378"
    providerName="System.Data.SqlClient"/>
    <add name="DatabaseProdConnecionString"
    connectionString="Data Source=dlazappqa.dl.cl;Initial Catalog=HCMCruzBlancaProd;User ID=qahcmcruzblanca;Password=tbcs4378"
    providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>