<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DigitalLearningIntegration.DAL.Properties.Settings.HCMKomatsuProdConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCMKomatsuProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DigitalLearningIntegration.DAL.Properties.Settings.HCMKomatsuSegConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCMKomatsuSeg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DigitalLearningIntegration.DAL.Properties.Settings.HCMKomatsuProd3ConnectionString"
            connectionString="Data Source=.;Initial Catalog=HCMKomatsuProd3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>